@import "./scss/variables";
@import "./scss/components/buttons";

* {
  margin: 0;
}
h1 {
  @include heading-1;
}
body {
  @include body;
  margin: 0;
  background-color: $background-color;
  &::-webkit-scrollbar {
    width: 0px;
  }
}
p {
  @include body;
  margin: 0;
}
.MuiTypography-root {
  font-family: "Nunito", sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 26px !important;
}
.MuiRadio-root {
  opacity: 0.5;
  &.Mui-checked {
    opacity: 1;
    color: $secondary-color !important;
  }
}
.MuiFormHelperText-root {
  font-family: "Nunito", sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 14px !important;
}
.button {
  display: flex;
  justify-content: center;
}
